::root {
  --cerulean: #0081a7;
  --lightyellow: #fdfcdc;
  --bittersweet: #f07167;
}

div:not(.logo) {
  border: 1px solid black;
}

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
}

.container {
  height: 100%;
  display: grid;
  grid-template: 17% 83% / fit-content(250px) 3fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main-content";
}

/* ----- HEADER ----- */
.header {
  grid-area: header;
}
/* ----- SIDEBAR ----- */
.sidebar {
  grid-area: sidebar;
  padding: 0.7rem;
}

.logo {
  font-size: 1.5rem;
  margin: 0 0 20% 0;

  display: flex;
  align-items: center;
}

.logo-icon {
  height: auto;
  width: 17%;
}

.nav {
  margin-bottom: 10px;
}

.sidebar-item {
  font-size: 1.2rem;
  list-style-type: none;
  padding: 5px;

  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-icon {
  height: auto;
  width: 12%;
}

/* Add space on sidebar between nav and settings */
.sidebar-item:nth-child(6) {
  margin-bottom: 20%;
}

/* ----- MAIN ----- */
.main-content {
  grid-area: main-content;
  display: grid;
  grid-template: 0.9fr 10fr / 80% 1fr;
  grid-template-areas:
    "heading side-content"
    "main-content-grid side-content";
}

.heading {
  grid-area: heading;
  padding: 0 0 0 0.6rem;

  font-size: 1.2rem;
  align-self: end;
  font-weight: bold;
}

.main-content-grid {
  padding: 0.6rem;
  grid-area: main-content-grid;
  overflow: scroll;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0.7rem;
}

.main-content-box {
  background-color: #0081a7;
  min-width: 300px;
  min-height: 150px;
}

/* ----- SIDE CONTENT ----- */
.side-content {
  grid-area: side-content;
}
