::root {
  --cerulean: #0081a7;
  --lightyellow: #fdfcdc;
  --bittersweet: #f07167;
}

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
}

.container {
  height: 100%;
  display: grid;
  grid-template: 17% 83% / fit-content(250px) 3fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main-content";
}

/* ----- HEADER ----- */
.header {
  grid-area: header;
  border-bottom: 1px solid black;
}
/* ----- SIDEBAR ----- */
.sidebar {
  grid-area: sidebar;
  padding: 0.7rem;
  border-right: 1px solid black;
}

.logo {
  font-size: 1.5rem;
  margin: 0 0 12% 0;

  display: flex;
  align-items: center;
}

.logo-icon {
  height: auto;
  width: 17%;
}

.nav {
  margin-bottom: 10px;
}

.sidebar-item {
  font-size: 1.2rem;
  list-style-type: none;
  padding: 5px;

  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-icon {
  height: auto;
  width: 12%;
}

/* Add space on sidebar between communities and settings */
.sidebar-item:nth-child(6) {
  margin-bottom: 20%;
}

/* ----- MAIN ----- */
.main-content {
  padding: 1rem;
  grid-area: main-content;
  display: grid;
  grid-template: 0.7fr 10fr / 80% 1fr;
  grid-template-areas:
    "heading announcement-heading"
    "main-content-grid side-content";
}

.heading {
  grid-area: heading;

  font-size: 1.2rem;
  align-self: end;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.main-content-grid {
  grid-area: main-content-grid;
  overflow: scroll;
  margin-right: 0.5rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(150px, 0.5fr));
  gap: 0.7rem;
}

.main-content-box {
  background-color: #0081a7;
  min-width: 300px;
  min-height: 150px;
}

/* ----- SIDE CONTENT ----- */
.side-content {
  grid-area: side-content;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.announcement-heading,
.trending-heading {
  grid-area: announcement-heading;
  margin-left: 0.8rem;
  align-self: end;
  margin-bottom: 0.5rem;

  font-size: 1.2rem;
  font-weight: bold;
}

.trending-heading {
  align-self: flex-start;
  margin-left: 0.2rem;
}

.announcement-box,
.trending-box {
  height: 45%;
  width: auto;
  border: 1px solid black;
  padding: 1rem;
  overflow: hidden;
}

.announcement-box {
  margin-bottom: 5%;
}

.announcement-item {
  height: 29%;
  overflow: scroll;
}

.announcement-item > p {
  font-size: 0.8rem;
}

hr {
  margin: 0.5rem 0;
}
